.nombre-empresa{
    font-weight: bold;
}
.Kodak{
    color: gold;
}
.date{
    color: white;
    background-color: rgb(29, 29, 146);
}
.purple-words{
    color: purple;
}
.green-word{
    color: rgb(16, 158, 16);
}