p{margin-left: 20rem;}
.p1{margin: 4rem 20rem 4rem 20rem; background-color: rgb(225, 241, 236);}
h1{margin-left: 20rem;}
.p2{margin: 1rem 50rem 1rem 20rem; }
.button{
    border-style: solid;
    border-radius: 20px;
    width: 110px;
    padding: 10px;
    text-align: center;
}