body {

    background-color: beige;
    color: blueviolet;
}


.Pera {
    color: chartreuse;
}

.Manzana {
    color: red;
}

.Fruta-del-dragon {
    color: darksalmon;
}

.Limon {
    color: yellow;
}

.Aguacate {
    color: darkgreen;
}

.Naranja {
    color: orange;
}