.p1{background-color: red; width: 95rem; height: 5rem;}
.p2{background-color: rgb(0, 255, 4); width: 75rem; height: 5rem;}
.p3{background-color: rgb(0, 247, 255); width: 55rem; height: 5rem;}
.p4{background-color: rgb(8, 0, 255); width: 35rem; height: 5rem;}
.p5{background-color: rgb(170, 0, 255); width: 15rem;}  